header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0B0B10ff;
    height: 10%;
    font-family: 'Bebas Neue', cursive;
}

h1 {
    margin: 1%;
    font-size: 70px;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #14141A;
    text-shadow: 0px 0px 5px #FFCA0Eff, 0px 0px 10px #FFCA0Eff, 0px 0px 10px #FFCA0Eff,
        0px 0px 20px #FFCA0Eff;
    padding-left: 20px;
}

button {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 3px solid #0B0B10ff;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #FFCA0Eff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.button-container {
    padding-right: 300px;
    padding-bottom: 60px;
}

.center {
    width: 180px;
    height: 60px;
    position: absolute;
}

button span {
    color: #D6D6D6;
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    font-weight: 100;
}

button:hover {
    transition: 1s ease-in-out;
    background: #232323;
}

button:hover svg {
    stroke-dashoffset: -480;
}

/* CSS HEX
--grey: #9FA0A4
--space-cadet-navy: #2C344Bff; lighter navy
--sunglow: #FFCA0Eff; yellow
--independence: #414453ff; grey navy
--space-cadet-2: #1B2238ff; medium navy????
--rich-black-fogra-39: #0B0B10ff; black
--coquelicot/red: #FE3505ff; red */


button:hover {
    transition: 1s ease-in-out;
    background: #1B2238ff;
}

button:hover svg {
    stroke-dashoffset: -480;
}

button span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}