.wrapper {
    background-color:#0B0B10ff;
    color:azure;
    column-gap:1%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 90%;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    row-gap:2%;
    width:100vw;
}

@media screen and (max-width: 100em) {
    .wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
} 

@media screen and (max-width: 75em) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
    
@media screen and (max-width: 60em) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 50em) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}



