.movieViewMain {
    height: 90vh;
    background-size: cover;
    background-repeat: none;
    font-family: 'Rajdhani', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    width:100vw;
    z-index: 0;
}

.posterTitleContainer {
    display: flex;
    height: 80%;
    justify-content: flex-end;
    margin-right: 35px;
    width: 100vw;
}

.statsContainer {
    align-items: center;
    align-content: flex-start;
    box-shadow: 0 0 20px 20px rgb(0, 0, 0);
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    max-width: 300px;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    min-width: 300px;
    opacity: 0.8;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    width: 30%;
}

.title {
    color: aliceblue;
    font-size: 40px;
    font-weight: bold;
    margin: 0%;
}

.tagline {
    color: #FFCA0Eff;
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10%;
}

p {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    padding:0%;
    margin:1%
}

.genresHolder {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.rating {
    margin-top: 10%
}

.genres {
    color: #41AAD1;
    padding: 5px;
}

footer {
    background-color: #0B0B10ff;
    color: antiquewhite;
    height: 29%;
    margin-top: 0px;
    opacity: 0.8;
    text-align:center;
    width: 100%;
}

.overview {
    align-content: center;
    align-items: center;
    color: aliceblue;
    display: flex;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    margin-top: 0px;
}