.movieViewMain {
    width:100vw;
    /* height: 890px; */
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Rajdhani', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}


.posterTitleContainer {
    display: flex;
    height: 80%;
    justify-content: flex-end;
    margin-right: 35px;
    width: 100vw;
}

.statsContainer {
    align-items: center;
    align-content: flex-start;
    box-shadow: 0 0 20px 20px rgb(0, 0, 0);
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;
    max-width: 300px;
    margin-right: 5%;
    /* margin-top: 10px; */
    margin-bottom: 2%;
    min-width: 300px;
    opacity: 0.8;
    padding: 20px 15px 30px;
    text-align: center;
    width: 30%;
}

.title {
    color: aliceblue;
    font-size: 40px;
    font-weight: bold;
    margin: 0%;
}

.tagline {
    color: #FFCA0Eff;
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
}

p {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

.genresHolder {
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.genres {
    padding: 5px;
}

footer {
    color: antiquewhite;
    background-color: #0B0B10ff;
    height: 18%;
    opacity: 0.8;
    width: 100%;
    margin-top: 0px;
    /* position: absolute; */
}

.overview {
    align-content: center;
    align-items: center;
    color: aliceblue;
    display: flex;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    margin-top: 0px;
}