* {
  caret-color: transparent;
  text-decoration: none;
}


html {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(0, 0, 0)
    );
    height: 100%;
  }
  
  .error {
    border: solid 1px black
  }
  
  