.wrapper {
    width:100vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap:1%;
    row-gap:2%;
    /* grid-auto-rows: 10%; */
    background-color:#0B0B10ff;
    color:azure;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
}

@media screen and (max-width: 100em) {
    .wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
} 

@media screen and (max-width: 75em) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
    

@media screen and (max-width: 60em) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 50em) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}



