.wrapper {
    width:100vw;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap:10px;
    row-gap:10px;
    grid-auto-rows: 500px;
    background-color:#1B2238ff;
    color:azure;

}

/* CSS HEX
--space-cadet-navy: #2C344Bff;
--sunglow: #FFCA0Eff;
--independence: #414453ff;
--space-cadet-2: #1B2238ff;
--rich-black-fogra-39: #0B0B10ff;
--coquelicot/red: #FE3505ff; */